@use 'color' as *;
@use 'space' as *;
@use 'typography' as *;
@use 'border' as *;
@use 'shadow' as *;
@use 'input' as *;

:root {
  /* Component settings */
  --input-floating-label-padding-x: .55rem;
  --input-floating-label-padding-y: .55rem;
  --input-floating-label-active-font-size: .65rem;
  --input-floating-label-color: var(--color-neutral-700);
  --input-field-height: calc(2.25rem + 2px);

  --header-height: 76px;

  --footer-link-color: var(--color-neutral-800);
  --footer-link-color-hover: var(--color-neutral-600);
  --footer-font: var(--color-neutral-800);
}
