@use 'color' as *;
@use 'space' as *;
@use 'typography' as *;
@use 'border' as *;
@use 'shadow' as *;
@use 'input' as *;

:root {
  /* Component settings */
  --input-floating-label-padding-x: 0.55rem;
  --input-floating-label-padding-y: 0.55rem;
  --input-floating-label-active-font-size: 0.65rem;
  --input-floating-label-color: var(--color-neutral-700);
  --input-field-height: calc(2.25rem + 2px);

  --header-height: 76px;

  --footer-font: var(--color-neutral-700);
  --footer-link-color: var(--color-neutral-700);
  --footer-link-color-hover: var(--color-neutral-900);
  --footer-bg-color: var(--color-neutral-100);
}
