:root {
  /* Font */
  --font-family: 'GothamNarrow', 'Helvetica', sans-serif;

  /* Font Sizes */
  --font-size-0: .75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 3.5rem;
  --font-size-h1: var(--font-size-5);
  --font-size-h2: var(--font-size-4);
  --font-size-h3: var(--font-size-3);
  --font-size-body: var(--font-size-1);
  --font-size-nav: var(--font-size-4);

  /* Font Weight */
  --font-weight-bold: bold;
  --font-weight-normal: normal;

  /* Spacing */
  --space-xs: .25rem;
  --space-sm: .5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;

  /* Border Radius */
  --border-radius-300: .5rem;
  --border-radius-md: 1rem;
  --border-radius-500: var(--border-radius-md);
  --border-radius-700: 1.75rem;

  /* Shadows */
  --shadow-600: 0 0.75rem 2rem var(--shadow-color, hsl(0 0% 80%));
}

:root {
  /* Colors */
  --light-primary-hue: 320deg;
  --light-primary-saturation: 100%;
  --light-primary-lightness: 50%;

  --primary-hue: var(--light-primary-hue);
  --primary-saturation: var(--light-primary-saturation);
  --primary-lightness: var(--light-primary-lightness);
  --color-primary: hsl(var(--primary-hue, 220) var(--primary-saturation, 30%) var(--primary-lightness, 40%));
  --color-primary-surface: hsl(var(--primary-hue) var(--primary-saturation) 98%);
  --color-primary-hover: hsl(var(--primary-hue) var(--primary-saturation) calc(var(--primary-lightness) - 10%));

  --color-font-1: hsl(var(--primary-hue) 5% 18%);
  --color-font-2: hsl(var(--primary-hue) 8% 35%);
  --color-font-inverted: hsl(var(--primary-hue) 15% 95%);

  --color-surface-1: hsl(0 0% 100%);
  --color-surface-2: hsl(210 17% 98%);
  --color-background: var(--light-color-background);

  --success-hue: 152.2;
  --success-saturation: 68.8%;
  --color-success: hsl(var(--success-hue) var(--success-saturation) 31.4%);
  --color-success-surface: hsl(var(--success-hue) var(--success-saturation) 98%);
  --color-success-hover: hsl(var(--success-hue) var(--success-saturation) 40%);

  --warning-hue: 45;
  --warning-saturation: 100%;
  --color-warning: hsl(var(--warning-hue) var(--warning-saturation) 51.4%);
  --color-warning-surface: hsl(var(--warning-hue) var(--warning-saturation) 98%);
  --color-warning-hover: hsl(var(--warning-hue) var(--warning-saturation) 40%);

  --danger-hue: 354.3;
  --danger-saturation: 70.5%;
  --color-danger: hsl(var(--danger-hue) var(--danger-saturation) 53.5%);
  --color-danger-surface: hsl(var(--danger-hue) var(--danger-saturation) 98%);
  --color-danger-surface-200: hsl(var(--danger-hue) var(--danger-saturation) 95%);
  --color-danger-surface-300: hsl(var(--danger-hue) var(--danger-saturation) 90%);
  --color-danger-hover: hsl(var(--danger-hue) var(--danger-saturation) 40%);

  --info-hue: 190;
  --info-saturation: 90%;
  --color-info: hsl(var(--info-hue) var(--info-saturation) 50%);
  --color-info-surface: hsl(var(--info-hue) var(--info-saturation) 98%);
  --color-info-hover: hsl(var(--info-hue) var(--info-saturation) 40%);

  --color-white: #fff;
  --color-neutral-100: hsl(210 0% 98%);
  --color-neutral-200: hsl(210 0% 93%);
  --color-neutral-300: hsl(210 0% 89%);
  --color-neutral-400: hsl(210 0% 83%);
  --color-neutral-500: hsl(210 0% 71%);
  --color-neutral-600: hsl(210 0% 46%);
  --color-neutral-700: hsl(210 0% 31%);
  --color-neutral-800: hsl(210 0% 19%);
  --color-neutral-900: hsl(210 0% 15%);
  --color-black: #000;

  --color-light: var(--color-neutral-100);
  --color-dark: var(--color-neutral-900);
}


:root {
  /* Component settings */
  --input-floating-label-padding-x: .55rem;
  --input-floating-label-padding-y: .55rem;
  --input-floating-label-active-font-size: .65rem;
  --input-floating-label-color: var(--color-neutral-700);
  --input-field-height: calc(2.25rem + 2px);

  --header-height: 76px;

  --footer-link-color: var(--color-neutral-500);
  --footer-link-color-hover: var(--color-neutral-600);
  --footer-font: var(--color-light);
}
